@import "assist/mixins";
@import "assist/variables";
@import "assist/placeholders";
@import url('https://fonts.googleapis.com/css?family=Anton|Jura');


body {
    background-image: url($main-bg-img);
      object-fit: cover;
    @include dimensions(100%, 100%);
    text-align: center;

    h1 {
        text-align: center;
        color: red;
        background-color: black;
        @include Anton(400);
        letter-spacing: 1.5px;
        @include transition-duration(2s);
        &:hover{
            color:blue;
            background-color: white;
            @include transition-duration(2s);
        }

    }

    .game-main {
        margin-top:50px;
        background-color: $transparent-black;
        @include transition-duration(2s);
        &:hover{
            background-color: $transparent-white;
            color: black;
            @include transition-duration(2s);
        } 
        padding: 2em;
        font-size: 3em;
        @include Jura(300);
        .form-group {
            color:white;
            input{
                color:blue;
            }
        }
        p {
            color:white;
        }
        img {
            @include dimensions(370px, 450px);
        }
    }
}

